body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Globales */

:root {
  --colorheader: #2d3142;
  --colorarticle: #d8d5db;
  --coloraside: #adacb5;
  --colorfooter: #2d3142;
}

/* Colores y alturas */

header {
  background: var(--colorheader);
  height: 100px;
}

article {
  background-color: var(--colorarticle);
}

aside {
  background-color: var(--coloraside);
}

footer {
  background: var(--colorfooter);
  padding: 37.5px;
}

/* Globales */
header,
article,
aside {
  padding: 30px 15px;
}

li {
  padding-bottom: 10px;
}

footer p {
  line-height: 110px;
}

.footer p {
  padding: 0px;
}

article p {
  padding-top: 20px;
}

aside h3 {
  padding: 15px 0px;
}